#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 60px;
}